
textarea {
  width: 30%;
  height:30px;
  resize: none;
  overflow: auto;
  padding: 5px;
  border: 2px solid #777777;
  border-radius: 6px !important;
  transition: all 0.15s ease-in-out;
  text-align: justify;
  font-size: 15px;
  margin: 10px 10px 10px 30%;
  background-color: #ffffff;
  outline: none;
  &:focus {
    border-color: lightblue;
    box-shadow: none;
  }
}

.searchButton {
  width: 5%;
  min-height: 42px;
  margin: 0;
  bottom: 28px;
  border: 2px solid #777777;
  position: relative;
  border-radius: 6px;
  padding: 0px;
  &:hover {
    border-color: lightblue;
    color: lightblue !important;
  }
}

.center {
  margin-top: 15%;
}

.dropdown-item {
  height: 32px;
  grid-column: 1;
  z-index: 101 !important;
  background: white;
}

.dropdown {
  top: -25px;
  margin-left: 30%;
  background-color: white;
  position: relative;
  display: inline-grid;
  width: 439px !important;
  max-height: 400px !important;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #777777;
  border-top-width: 0px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hide {
  display:none
}
